@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn{
    @apply rounded-md cursor-pointer bg-blue-700 px-5 py-2 text-white font-medium hover:bg-blue-800 transition 
}
.transparent-btn{
    @apply rounded-md cursor-pointer border border-gray-300 bg-transparent text-gray-800 font-semibold px-5 py-1.5 transition hover:bg-gray-50
}
.faq-btn{
    @apply rounded-full cursor-pointer border border-gray-300   px-4 py-1 transition
}